# Python Basic Assignment_1

In [ ]:
1ans.
* = expression
'hello'= string
-87.8= float
- = expression
/ = expression
6 = int

In [ ]:
2ans.
string is a combination of character which contains alphabets and numbers it is always represented with "" & ''
variable is a container in which we can store any value for eg: a=10 here "a" is a variable where value 10 (data) is stored

In [ ]:
3ans.
String = for characters
float = numbers with decimal point, represented as 8.5 or 4.0
int = just numbers without decimal point represented as 5 or 7

In [ ]:
4ans.
expressions are mathematical operators and we can also do some operations for string such as + & * . 
eg:
    19 + 16 
    "sundar" + "kasyap"

In [ ]:
5ans.
expression is used to combine value to generate a new value.expressions are mathematical operators
statements are lines in the code it does not change its value, creating variables or displaying the values are statement

In [ ]:
6ans.
variable bacon contain value of 22 as 
bacon is assigned with a value of 22
and the final result is 23

In [ ]:
7ans.
output for both the terms are 
'spamspamspam'

In [ ]:
8ans.
eggs is group of characters which can be used to name a variable
100 is a number, we cant start a variable name with a number as its not accepted

In [ ]:
9ans.
string
int
float

In [ ]:
10ans.
'i have eaten' + 99 + 'burritos',here 99 is a int and rest two are string, we cant make any expressions between string and int
so the 99 should be represented as '99', which convert it from int to string.
correct expression is
'i have eaten'+'99'+'burritos'
output
'i have eaten99burritos'